body {
    font-family: Arial, sans-serif;

    color: #343a40;
    margin: 0;
    background-color: #f8f9fa;
}

.mainbg-about{
    padding: 20px;
}

.navbar{
    color: black;
}

.bgcontainer1-about-page {
    max-width: 1200px;
    margin: auto;
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-aboutpage {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-family: playfair display;
}

.paragraph-aboutpage {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

.footer-aboutpage {
    margin-top: 40px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card1-aboutpage {
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    transition: transform 0.3s;
}


.card2-aboutpage {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.card1-aboutpage:hover,
.card2-aboutpage:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.img1-aboutpage {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.name-aboutpage {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: #1e3a6e;
}

.text-center {
    font-size: 1rem;
    color: #6c757d;
}



.img2-aboutpage {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-left: 60px;
}