.talent-bg-container{
    background-color: #0e1217;
    height: 100vh;
}

.talent-card{
    background-color: #1c1f26;
    border-color: #545b6a;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    border-width: 2px;
    margin-bottom: 20px;
}

.sm-icon-img{
    height: 35px;
    border-radius: 18px;
    margin: 10px 0 10px 0;
}

.redirect-text{
    background-color: white;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-family: "Kanit";
    font-size: 15px;
    padding: 5px;
}

.redirect-text:hover{
    background-color: lightgray;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-family: "Kanit";
    font-size: 15px;
    color: black;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.talent-card-heading{
    font-size: 20px;
    font-weight: bold;
    font-family: "Kanit";
    color: white;
}

.talent-card-img{
    width: 100%;
    border-radius: 10px;
}

.talent-pg-main-heading{
    color: red;
}

.talent-card-bt-tools {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    border-radius: 8px;
}

/* Icon styling */
.material-symbols-outlined {
    font-size: 24px;
    color: #B0B3B8; /* Light gray color for icons */
}

/* Number styling */
.icon-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.count-text {
    font-size: 16px;
    color: #B0B3B8; /* Same light gray color */
}

/* Vertical divider styling */
.divider {
    height: 24px;
    width: 1px;
    background-color: #4a4a4a;
}