.talent-bg-container{
    background-color: white;
    height: 180vh;
}

.talent-card{
    background-color: #f5f8fc;
    border-color: #545b6a;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    border-width: 2px;
    margin-bottom: 20px;
}

.talent-card:hover{
    background-color: #f5f8fc;
    border-color: #545b6a;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    border-width: 2px;
    margin-bottom: 20px;
    scale: 1.05;
}

.sm-icon-img{
    height: 35px;
    border-radius: 18px;
    margin: 10px 0 10px 0;
}

.redirect-text{
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-family: "Kanit";
    font-size: 15px;
    padding: 5px;
}

.redirect-text:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-family: "Kanit";
    font-size: 15px;
    cursor: pointer;
}

.talent-card-heading{
    font-size: 20px;
    font-weight: bold;
    font-family: "Kanit";
    color: black;
}

.talent-card-img{
    width: 100%;
    border-radius: 10px;
}

.talent-pg-main-heading{
    color: red;
}

.talent-card-bt-tools {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    border-radius: 8px;
}

/* Icon styling */
.material-symbols-outlined {
    font-size: 24px;
    color: #1e3a6e; /* Light gray color for icons */
}

/* Number styling */
.icon-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.count-text {
    font-size: 16px;
    color: #1e3a6e; /* Same light gray color */
}

/* Vertical divider styling */
.divider {
    height: 24px;
    width: 1px;
    background-color: #1e3a6e;
}

a {
    text-decoration: none; /* Remove underline for normal state */
    color: inherit; /* Use the same color as the parent element, optional */
}

a:hover {
    text-decoration: none; /* Remove underline on hover */
}